.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__img {
  margin: 133px auto 8px;
}

.error__title {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.29;
  margin: 0;
  padding: 0;
}

.error__msg {
  font-size: 1.3em;
  line-height: 1.25;
  color: #97979b;
  margin: 12px 0 12px;
}

.error__reload {
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.25;
  color: #6534ff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
