.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40 px);
}

.user__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  background: #f7f7f8;
  width: 100%;
  position: relative;
}

.user__block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
}

.user__back-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 22px;
  left: 24px;
  background: url("./../../images/arrow-right.png") no-repeat center;
  border: transparent;
}

.user__name-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user__avatar {
  display: block;
  width: 104px;
  height: 104px;
  margin: 72px 0 24px;
}

.user__name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}

.user__surname {
  margin: 0 0 0 5px;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}

.user__tag {
  margin: 0 0 12px 4px;
  color: #97979b;
  font-size: 17px;
  line-height: 1.29;
}

.user__position {
  margin: 0 0 24px 0;
  color: #55555c;
  font-size: 13px;
  line-height: 16px;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  margin: 28px 0;
}

.user__info-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 48px 0;
}

.user-icon {
  width: 20px;
  height: 20px;
}

.user__data {
  margin-left: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.user__data-short {
  color: #97979b;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.user-data__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user__phone {
  text-decoration: none;
  color: #050510;
}
