.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.card__btn {
  border: transparent;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
}

.card__avatar {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.card-block {
  margin-left: 16px;
}

.card-block__name-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.card-block__name {
  margin: 0 4px 0 0;
  padding: 0;
  line-height: 1.25;
  font-size: 1.33em;
  font-weight: 500;
  color: #050510;
}

.card-block__surname {
  margin: 0 4px 0 0;
  padding: 0;
  line-height: 1.25;
  font-size: 1.33em;
  font-weight: 500;
  color: #050510;
}

.card-block__nickname {
  line-height: 1.29;
  color: #97979b;
  font-weight: 500;
  font-size: 1.15em;
  margin: 0;
  padding: 0;
}

.card-block__role {
  margin: 0;
  padding: 0;
  line-height: 1.23;
  font-size: 1.08em;
}

.card-block__age {
  font-size: 1.25;
  line-height: 1.33;
  color: #55555c;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
