.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__link {
  text-decoration: none;
  margin-right: 24px;
  color: #97979b;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu__link_active {
  color: #050510;
  font-weight: 600;
  border-bottom: 2px solid #6534ff;
  padding-bottom: 8px;
}

.line {
  border-bottom: 0.33px #c3c3c6 solid;
}

@media screen and (max-width: 768px) {
  .menu__link {
    margin-right: 15px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 432px) {
  .menu__orientation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
  }
}
